.circleBase {
    border-radius: 50%;
    /*behavior: url(PIE.htc); !* remove if you don't care about IE8 *!*/
}
.userImg{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    background-image: url('../images/profile-picture.jpg');
}
.type3 {
    width: 250px;
    height: 250px;
    /*background: red;*/
    border: 20px #d3d3d3;
}
.twoColumnStyle{
    column-count: 2;
    column-gap: 20px;
    padding-bottom:10px;
}
.introFontSize{
    font-size: 18px;
    line-height: 40px;
}

.homeHeader{
    /*position: relative;*/
    /* top: -10px; */
    z-index: 9999;
    font-size: 25px;
    color: #707070;
    margin-top: -70px;
    margin-left: 100px;
    padding-bottom: 30px;
}
.homeFontLight {
    font-family: 'Lato Light', sans-serif;
    color:black;
    line-height: 40px;
    /*make line height 30px after more text is added*/
}
.homeFont {
    font-family: 'Lato', sans-serif !important;
    color:#303030 !important;
}
.carousel-control-prev-icon{
    height: 40px;
    width: 40px;
    outline: black;
    background-size: 100%, 100%;
    /*border: 1px solid black;*/
    border-radius: 50%;
    background-image: none;
    padding:7px;
    margin-left: -200px;
    box-shadow: 2px 2px 4px black;
}
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
    min-height: 35px;
    min-width: 35px;
    outline: black;
    background-size: 100%, 100%;
    /*border: 1px solid black;*/
    border-radius: 50%;
    background-image: none;
    padding:7px;
    margin-right: -200px;
    box-shadow: 2px 2px 4px black;
}
.carousel-control-next-icon:after
{
    font-size: 20px;
    color: black;
    margin-right: -100px;
}
.carousel-control-prev-icon:after {
    font-size: 20px;
    color: black;
    margin-left: -100px;
}
.carousel-indicators{
    margin-bottom: -15px !important;
}

.carousel-indicators li {
    background-color:lightgrey;
}
.carousel-indicators .active {
    background-color:grey !important;
}
.carousel-arrow-color {
    background-color: #fbfbfb !important;
}
.arrow-image-left {
    height: 15px;
    width:15px;
    display:block;
    /*margin-left: -20px;*/
    margin-top: +4px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(180deg);
}
.arrow-image-right {
    height: 15px;
    width:15px;
    display:block;
    /*margin-right: -10px;*/
    margin-top: +4px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-indicators li {
    border-radius: 50%;
    height: 8px;
    width:8px;
}
.persona-subheading {
    font-size: 14px !important;
}
.project-detail-table {
    margin-bottom: 50px;
    margin-left: -10px;
}
.project-detail-table-row th,td{
    padding: 10px;
}
.project-detail-heading {
    text-transform: uppercase;
    font-size: 15px;
    color: #0c0c0c;
}
.project-detail {
    padding-left:50px;
    /*font-weight: bold;*/
    color: black;
}
.project-hover-border {
    border-radius: 5px;
}
.cardImageSize {
    /*height: 40%;*/
    width: 70%;
}

.finalBirdDesignLeftMargin {
    margin-left: +10%;
}

.trailScoutVideo {
    text-align: center;
    padding-top: 30px;
}
.pInlineDisplay{
    display:inline;
    /* align-content: center; */
    /*z-index: +1000;*/
    /*position: relative;*/
}
.divDesignFormat1{
  display: block;
    margin-bottom: 45px;
}
.iframeDesignFormat1{
  /* border: 1px solid black; F5F5F5*/

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgClass1{
    width:23%;
    height:auto;
    /*border: 0.5px solid black;*/
    outline: 5px solid transparent;
    margin: 10px 5px 5px 5px;
}
.imgClass2{
    width:46%;
    height:auto;
    /*border: 0.5px solid black;*/
    outline: 5px solid transparent;
    margin: 10px 5px 5px 5px;
}
.imgClass3{
    width:75%;
    height:auto;
    align-items: center;
    /*border: 0.5px solid black;*/
    outline: 5px solid transparent;
    margin-top: 10px;
    /* padding-right: 40px; */
}
.imgClass1::after, .imgClass2::after, .imgClass3::after{
    padding: 10px 5px 5px 5px;
}
.imgClass1:hover{
    color: #424242;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(2.5);
    -ms-transform: scale(2.5); /* IE 9 1.15*/
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    z-index: +1000;
    position: relative;
}
.imgClass2:hover{
    color: #424242;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.5);
    -ms-transform: scale(1.5); /* IE 9 1.15*/
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    z-index: +1000;
    position: relative;
}
.role{
  padding:20px;
  font-size:20px;
}
.homeScreenPadding{
   padding-top:200px;
}
@media screen and (max-width:991.98px){
   .projectRow1{
    background:red;
    visibility: hidden;
    /* display:none; */
  }
  .userImg{
    width:80px;
    height:80px;
  }
  .role, .headerFont{
    font-size: 16px;
  }
  .site-logo{
    width: 200px;
  }
  .homeHeader{
    margin-left: 20px;
  }
  .hamburger-box{
    visibility: hidden;
  }
}
@media screen and (max-width:750px){
  .homeScreenPadding{
    padding-top:300px;

  }
}
